################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web.API/Empty/obj/Debug/netcoreapp1.0
